/* UniQAIDAR font */

@font-face {
    font-family: "UniQAIDAR_Talabat 01";
    src: url("../fonts/UniQAIDAR_Talabat01.woff2") format("woff2"), url("../fonts/UniQAIDAR_Talabat01.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "UniQAIDAR_Talabat 01";
    src: url("../fonts/UniQAIDAR_Talabat01.woff2") format("woff2"), url("../fonts/UniQAIDAR_Talabat01.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "UniQAIDAR_Talabat 01";
    src: url("../fonts/UniQAIDAR_Talabat01.woff2") format("woff2"), url("../fonts/UniQAIDAR_Talabat01.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* Tajwal font */

@font-face {
    font-family: "Tajawal";
    src: url("../fonts/Tajawal-Black.woff2") format("woff2"), url("../fonts/Tajawal-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Tajawal";
    src: url("../fonts/Tajawal-Bold.woff2") format("woff2"), url("../fonts/Tajawal-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Tajawal";
    src: url("../fonts/Tajawal-ExtraBold.woff2") format("woff2"), url("../fonts/Tajawal-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Tajawal";
    src: url("../fonts/Tajawal-ExtraLight.woff2") format("woff2"), url("../fonts/Tajawal-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Tajawal";
    src: url("../fonts/Tajawal-Light.woff2") format("woff2"), url("../fonts/Tajawal-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Tajawal";
    src: url("../fonts/Tajawal-Medium.woff2") format("woff2"), url("../fonts/Tajawal-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Tajawal";
    src: url("../fonts/Tajawal-Regular.woff2") format("woff2"), url("../fonts/Tajawal-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* Main Rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tajawal", "sans-serif";
}

body {
    direction: rtl;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

:root {
    --clr-primary: #d60011;
    --clr-secondry: #333333;
    --clr-dark: #222222;
    --trans-main: 0.3s;
}

.clr-primary {
    color: #d60011;
}

.clr-secondry {
    color: #333333;
}

.back-primary {
    background-color: #d60011;
}

.back-secondry {
    background-color: #333333;
}


/* scrollbar */

::-webkit-scrollbar {
    background-color: #333333;
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background-color: #ee7a00;
}


/* -- section title  -- */

.section-title-container h3 {
    font-size: 60px !important;
}

.section-title {
    color: var(--clr-primary);
    font-size: 26px;
    font-weight: bold;
    position: relative;
}

.section-title::before {
    content: url("../images/section-title-back.png");
    position: absolute;
    right: 0;
    z-index: -1;
    top: -70px;
}

@media (min-width: 992px) {
    .section-title::before {
        transform: translateY(-50%) translateX(50%);
        top: 50%;
    }
}

.section-title::after {
    content: "";
    width: 60px;
    height: 3px;
    display: block;
    border-radius: 3px;
    background-color: #222222;
}


/* ========= navbar  ========== */

@media (min-width: 992px) {
    .header {
        min-height: 760px;
    }
}

.navbar {
    background-color: var(--clr-secondry);
    border-radius: 35px;
    padding: 10px 0;
}

.nav-link {
    color: #fff;
    transition: var(--trans-main);
    padding: 10px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
}

.nav-link:hover {
    background-color: #d60011;
    color: #fff;
}

.nav-link::after {
    content: url("../images/link_hover_effect.svg");
    display: block;
    position: absolute;
    right: 3px;
    bottom: -60px;
    transition: var(--trans-main);
}

.nav-link:hover::after {
    bottom: -6px;
}

.navbar-social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #fff;
    background-color: rgba(255, 255, 255, 22%);
    transition: var(--trans-main);
}

.navbar-social-icons a:hover {
    background-color: #ee7a00;
}

.logo-icon-nav img {
    width: 20px;
}

.landing-text h1 {
    font-family: "UniQAIDAR_Talabat 01", "sans-serif";
    line-height: 1.7;
}

.landing-text h1 span {
    font-family: "UniQAIDAR_Talabat 01", "sans-serif";
}

@media (min-width: 992px) {
    .landing-text h1 {
        font-size: 45px;
    }
}

.landing-text a {
    border-radius: 23px;
}

.landing-text a i {
    width: 28px;
    height: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 992px) {
    .landing-image {
        position: absolute;
        transform: translateY(-547px) translateX(-142px);
        width: 63%;
        z-index: -1;
    }
}


/* =================== Our Story ================== */

.our-story-text p {
    max-width: 400px;
    font-size: 21px;
    color: #848484;
}

.our-story-text a {
    border-radius: 23px;
}

.our-story-text a i {
    width: 28px;
    height: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


/* =================== Our Services ================= */

.our-services-image {
    width: fit-content;
}

@media (max-width: 991px) {
    .our-services-image {
        margin-top: 95px !important;
    }
}

.our-services-image img {
    border-radius: 30px;
}

.our-services-image img.right {
    transform: translateX(50%);
}

.our-services-image img.left {
    transform: translateX(-50%);
}

.our-services-content-box {
    max-width: 662px;
    margin: 25px auto;
    border-radius: 22px;
    box-shadow: 0 27px 36px rgba(0, 0, 0, 8%);
    padding: 10px 14px;
    background-color: #fff;
    text-align: center;
}

@media (min-width: 992px) {
    .our-services-content-box {
        transform: translateY(-50%);
    }
}

.our-services-content-box p {
    font-size: 16px;
    line-height: 1.2;
    padding: 10px 45px;
    text-align: center;
    color: #b2b2b2;
}

.our-services-content-box a {
    border-radius: 23px;
    background-color: #ee7a00;
}

.our-services-content-box a i {
    width: 28px;
    height: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


/* ======================= About Us ==================== */

.about-us .section-title::after {
    margin: auto;
}

@media (min-width: 992px) {
    .about-us .section-title::before {
        transform: translateY(-50%) translateX(50%);
        right: 50%;
    }
}

.about-us-text {
    border-radius: 27px;
    box-shadow: 0 27px 36px rgba(0, 0, 0, 8%);
    padding: 15px 20px;
    position: relative;
    font-size: 22px;
    background-image: url("../images/about_us_text_back.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
}

.about-us-text .top {
    left: 12%;
    top: -13%;
    z-index: 333;
}

.about-us-text .bottom {
    bottom: -12%;
    right: 12%;
    z-index: 333;
}


/* ======================  Footer ==================== */

.footer {
    position: relative;
    margin-top: 150px;
    background-color: var(--clr-primary);
    padding: 80px 0;
    background-image: url("../images/footer_effect_back.svg");
    background-size: cover;
}

.footer h3 {
    margin-bottom: 25px;
}

.footer ul a {
    color: #fff;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

.under-footer {
    background-color: var(--clr-dark);
}

.top-btn {
    cursor: pointer;
    animation: top-btn 0.6s ease-in-out infinite alternate;
}

@keyframes top-btn {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-15px);
    }
}